#linkForgot{
    font-size: 15px;
}

.pf {
    margin: 0% 30% 2% 30%;
    border: 2px solid black;
    background-color: lightblue;
    padding: 0% 2% 2% 2%;
}

.heading-pf {
    font-family: 'Gugi', cursive;
}

.pic-pf {
    width: 40%;
    margin-top: 2%;
    border: 2px solid black;
}

.input-pf {
    font-family: 'Gugi', cursive;
    border: 1px solid black;
    margin-right: 5px;
}

.button-custom {
    background-color: lightgreen;
}

.button-custom:hover {
    background-color: lightcoral;
}