.panel-heading
{
    background-color: maroon;
    color: white;  
  }

.panel-footer
{
    background-color: maroon;
    color: maroon;
    font-size: 15px;
   
}

#chatContainer{
    height: 50vh;
    width: 30rem;
    background-color: #ffffffc4;
   
    padding: 2rem;
    overflow: auto;
    overflow-wrap: break-word;
    font-size: 15px; 
    color: maroon;
    border-style: solid;
}

#chatPanel{
    width: 30rem;
    border-style: solid;
}

#chatMessage{
    width: 20rem;
}

#chatGlyphicon{
 color: maroon;
}

.list-group-item-heading hr {
        border-color: lightgray;
        margin: 0;
    }

    .list-group-item-heading span {
       font-size: 14px;
    }
    .bubble 
    {
    position: relative;
    width: 325px;
    height: 120px;
    width: auto;
    height: auto;
    padding: 0px;
    background: rgb(248, 208, 97);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    padding-left: 5px;
    }
    
    .bubble:after 
    {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 11px 8px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -8px;
    left: -11px;
    top: 21%;
    } 
    #chatUserDate{
        font-size: 12px;
    }
   