.block {
        text-align: center;
        border: 2px solid black;
        background-color: lightblue;
        margin: 0% 23% 20% 23%;
        padding: 0% 4% 2% 4%;
}

.block h5 {
    font-family: 'Gugi', cursive;
}

h5 span {
    font-family: 'Jua', sans-serif;
}