#p-event {
    color: #337ab7;
}

.center {
    text-align: center;
}

.shadow {
    -webkit-box-shadow: 2px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 4px 5px 0px rgba(50, 50, 50, 0.75);
  }
  #eventPanel{
    border-style: outset;
  }
  #eventPanelHeader{
      background-color: lightgrey;
  }

  .eventPic {
      width: 200px;
  }
